@tailwind base;
@tailwind components;
@tailwind utilities;


nav{
  .resume{
    font-family: Anurati;
    text-transform: uppercase;
  }
}

img{
  width: 100%;
  height: 100%;
}

.Banner{
  font-family: Anurati;
}

footer{
  .footer{
    font-family: Anurati;
    text-transform: uppercase;
  }
}



@font-face {
  font-family: Anurati;
  src: url("./Fonts/Anurati-Regular.otf");
}